<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oi mundo</title>
</head>

<body>
    <form action="" method="post">
        <label for="nome">Nome:</label>
        <input type="text" required name="nome" placeholder="Digite o nome do gênero" value="<%=genero.nome%>">
        <br>
        <label for="publico_alvo">Publico_Alvo:</label>
        <input type="text" required name="publico_alvo" placeholder="Digite o publico alvo" value="<%=genero.publico_alvo%>">
        <br>
        <label for="tamanho_medio">Tamanho_Medio:</label>
        <input type="text" required name="tamanho_medio" placeholder="Digite o tamanho medio" value="<%=genero.tamanho_medio%>">
        <br>
        <label for="animes">Animes:</label>
        <input type="text" required name="animes" placeholder="animes" value="<%=genero.animes%>">
        <br>
        <label for="subgeneros">Subgeneros:</label>
        <input type="text" required name="subgeneros" placeholder="subgeneros" value="<%=genero.subgeneros%>">
        <br>
        <input type="submit" value="Enviar">
    </form>
</body>

</html>